#cloud-config
package_update: true
packages:
  - docker.io

write_files:
  - path: /etc/nginx/nginx.conf
    content: |
      worker_processes  1;
      events { worker_connections 1024; }
      http {
        upstream logbroker_backends {
          server 10.0.1.20:8080;
          server 10.0.1.21:8080;
        }
        server {
          listen 80;
          location / {
            proxy_pass http://logbroker_backends;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
          }
        }
      }

runcmd:
  - apt-get update
  - apt-get install -y nginx
  - systemctl enable nginx
  - systemctl restart nginx
